src/Backpropagation.hi
src/Backpropagation.o
src/Main
src/Main.hi
src/Main.o
#src/Main.prof
src/Neuron.hi
src/Neuron.o
src/Trainingdata.hi
src/Trainingdata.o
src/Main.aux
src/Main.hp
src/Main.ps
src/Utils.hi
src/Utils.o
src/Config.hs
src/config.hs
